AQI_CN_URL="http://api.waqi.info"
AQI_CN_TOKEN=<YOUR_AQI_CN_TOKEN>
DEFAULT_LOCATION_NAME=<DEFAULT_LOCATION_TO_GET_AQI_DATA>
PORT=8080
NOTIFY_ONLY_UNHEALTHY=1
GOOGLE_APPLICATION_CREDENTIALS="/usr/src/app/gcloud-credential/<credential_file>.json"
GCLOUD_PROJECT_ID=<GCLOUD_PROJECT_ID>
GCLOUD_APP_NAME=<CLOUD_RUN_APP_NAME>
API_KEY=<API_KEY>
PRIVATE_KEY=<PRIVATE_KEY>
LINE_CONFIG=<LINE_CONFIG_ON_SECRET_MANAGER>
TMD_CONFIG=<TMD_CONFIG_ON_SECRET_MANAGER>